body {
    background-color: rgb(2, 0, 95);
}


header {
    color: white;
}

.cambio-color {
    color: orange;
}

.centrado {
    text-align: center;
}

.titulo {
    color: orange;
}

.subtitulo {
    color: white;
}

.parrafo {
    color: white;
}

.listado {
    color: white;
    list-style: none;
}

.pie {
    color: white;
}